# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini

# Etc
.superpowers
.gitignore
